form.route-search-form {
    margin-bottom: 20px;
}

.list-view [data-route-id] {
    cursor: pointer;
}

.loading-indicator {
    display: none;
}

.loading i.loading-indicator {
    display: inline-block;
}
